.icon-support::before {
  content: '\e900';
}
.icon-save::before {
  content: '\e901';
}
.icon-padlock::before {
  content: '\e902';
}
.icon-email::before {
  content: '\e904';
}
.icon-key::before {
  content: '\e905';
}
.icon-excel::before {
  content: '\e906';
}
.icon-pdf::before {
  content: '\e907';
}
.icon-filter::before {
  content: '\e908';
}
.icon-download-file::before {
  content: '\e909';
}
.icon-bulks::before {
  content: '\e90a';
}
.icon-download::before {
  content: '\e90b';
}
.icon-welcome::before {
  content: '\e90d';
}
.icon-error500::before {
  content: '\e90e';
}
.icon-eye-close::before {
  content: '\e90f';
}
.icon-upload::before {
  content: '\e910';
}
.icon-menu::before {
  content: '\e912';
}
.icon-arrow-right::before {
  content: '\e913';
}
.icon-arrow::before {
  content: '\e939';
}
.icon-arrow-left::before {
  content: '\e915';
}
.icon-validation-info::before {
  content: '\e916';
}
.icon-email-send::before {
  content: '\e917';
}
.icon-warning-info::before {
  content: '\e918';
}
.icon-close::before {
  content: '\e93a';
}
.icon-remove::before {
  content: '\e91a';
}
.icon-shield::before {
  content: '\e91b';
}
.icon-information::before {
  content: '\e91c';
}
.icon-more::before {
  content: '\e91d';
}
.icon-eye::before {
  content: '\e91e';
}
.icon-document::before {
  content: '\e91f';
}
.icon-enterprises::before {
  content: '\e920';
}
.icon-activeCards::before,
.icon-person::before {
  content: '\e921';
}
.icon-notification::before {
  content: '\e924';
}
.icon-issuedCards::before,
.icon-cards::before {
  content: '\e926';
}
.icon-transfer::before {
  content: '\e927';
}
.icon-home::before {
  content: '\e928';
}
.icon-pass-check::before {
  content: '\e929';
}
.icon-activeProgram::before,
.icon-report::before {
  content: '\e92b';
}
.icon-settings::before {
  content: '\e92c';
}
.icon-confirm::before {
  content: '\e92d';
}
.icon-lotsAuthorization::before,
.icon-edit::before {
  content: '\e92f';
}
.icon-contact::before {
  content: '\e930';
}
.icon-statistics::before {
  content: '\e931';
}
.icon-exit::before {
  content: '\e932';
}
.icon-money::before {
  content: '\e935';
}
.icon-open-padlock::before {
  content: '\e936';
}
.icon-sun::before {
  content: '\e93f';
}
.icon-moon::before {
  content: '\e93b';
}
